.main__content__title {
  border-bottom: solid 1px #999999;
  text-align: center;
  margin: 0px auto 15px auto;
  padding: 0px 0px 10px 0px;
  width: 85%;
}
.main__content__contact {
  background-color: #ededed;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
.main__content__contact--top {
  display: none;
}
.main__content__contact--bottom {
  margin: 15px auto 0 auto;
  width: 100%;
}
.main__content__wrapper {
  margin: 0 auto;
  max-width: 90%;
}
.main__content__wrapper p {
  margin: 10px 0;
}
.main__content__wrapper img {
  max-width: 100%;
  text-align: center;
}
.main__content__centered {
  background-color: #ededed;
  margin: 20px 0px;
  padding: 20px 20px;
  text-align: center;
}
.mc-field-group--corrected {
  margin-top: -20px;
  margin-bottom: -40px;
  margin-left: -30px;
  margin-right: 30px;
}
.main_videoblock {
  margin: 10px 0;
  max-width: 100%;
  height: auto;
}
@media (min-width: 480px) {
  .main__content__contact--top {
    width: 90%;
  }
  .main__content__contact--bottom {
    margin: 15px auto;
    width: 90%;
  }
}
@media (min-width: 768px) {
  .main__content__contact--top {
    display: block;
    margin: 5px auto;
    width: 70%;
  }
}
