.second {
	display: flex;
	margin-top: 40px;
	flex-wrap: wrap-reverse;
}
.second__main {
	margin-top: 50px;
}
.main__videoblock {
	margin: 0 auto;
	max-width: 100%;
}
.main__videoblock iframe {
	width: 100%;
}
.second__main {
	min-width: 300px;
}
@media only screen and (min-width : 400px) {
.main__videoblock {
	margin: 0 auto;
	max-width: 560px;
}
.main__videoblock iframe {
	width: 100%;
}
}
@media only screen and (min-width : 768px) {
.second {
	display: flex;
	margin-top: 40px;
}
.main__videoblock {
	margin: 0 auto;
	max-width: 560px;
}
.main__videoblock iframe {
	width: 100%;
}
.second__main {
	flex: 3;
}
}