.cta-hero {
	border-bottom: solid 2px #525252;
	text-align: center;
	background-color: rgba(82,82,82, 0.9);
	margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
	.cta-hero {
	text-align: center;
	background-color: rgba(82,82,82, 0.9);
	margin: 0px 0px 0px 0px;
}
}
@media (min-width: 992px) {
	.cta-hero {
	display: none;
	text-align: center;
	background-color: rgba(82,82,82, 0.9);
	margin: 0px 0px 0px 0px;
}
}
@media (min-width: 1200px) {
	.cta-hero {
	text-align: center;
	background-color: rgba(82,82,82, 0.9);
	margin: 0px 0px 0px 0px;
}
}
.cta-hero .btn {
	margin: 20px;
}