/* Hero */

#hero {
	background-image: url(../../../../images/landing/pool_renovation.jpeg);
	background-size: cover;
	background-position: center;
	border-bottom: solid 2px #525252;
	height: auto;
	margin: 50px 0px 0px 0px;

	-webkit-transition: ease-in-out 500ms; /* property duration timing-function delay */
    -moz-transition: ease-in-out 500ms;
    -o-transition: ease-in-out 500ms;
    transition: ease-in-out 500ms;
}

.hero__overlay {
	background-color: rgba(0,0,0, 0.55);
}

.heroFloat {
	height: auto;
	position: relative;
	margin: 0px auto;
}

.headline {
	color:#EDEDED;
	padding: 50px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.headline h1 {
	font-size: 145%;
	font-weight: 200;
	margin: 0px 0px 20px 0px;
}

#defaultSubheadline {
	font-weight: 100;
}

#defaultSubheadline {
	font-size: 60%;
}


.headlineContent {
	border: solid 1px #fff;
	border-radius: 3px;
	padding: 50px 0px 50px 0px;
}

@media only screen and (min-width : 480px) {
.heroFloat {
	height: auto;
	padding: 50px 0px 0px 0px;
	position: relative;
	margin: 0px auto;
	max-width: 580px;
	width: 90%;
}
.headline h1 {
	font-size: 200%;
	font-weight: 200;
	margin: 0px 0px 25px 0px;
}

#defaultSubheadline {
	font-size: 80%;
}

}

@media only screen and (min-width : 768px) {
#hero {
	background-attachment: fixed;
}

.hero-float {
	max-width: 900px;
	width: 90%;
}

.headline {
/*	padding: 50px 50px 0px 50px;*/
}

.headline h1 {
	font-size: 250%;
	font-weight: 200;
	margin: 0px 0px 30px 0px;
}

#defaultSubheadline {
	font-size: 100%;
}

}

@media only screen and (min-width : 992px) {
.heroFloat {
	height: auto;
	padding: 50px 0px 0px 0px;
	position: relative;
	margin: 0px auto;
	max-width: 70%;
}

.headline {
	color:#EDEDED;
	padding: 50px 50px 0px 50px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.headline h1 {
	font-size: 300%;
	font-weight: 300;
}

#defaultSubheadline {
	font-size: 120%;
}

}
