#design {
	margin-top: 20px;
}
.section-top {
	text-align: center;
	padding: 0px 0px 20px 0px;
}
.section-header {

}
.section-header h2 {
	font-size: 300%;
}
.content {
	
}
.image a {
	cursor: default;
}
.pool .image {
	background-image:url(/images/artwork/Jumping%20into%20Kiddie%20Pool.jpeg);
}
.concrete .image {
	background-image:url(/images/artwork/Drawing%20on%20Concrete%20Desaturated.jpeg);
}
.backyard .image {
	background-image: url(/images/artwork/Blurred%20Backyard.jpeg);
}
.backyard {
	clear: both;
}