.about-hero {
	background-image:url(/images/artwork/Leather%20Jacket%20and%20Scarf.jpeg);
	background-position: top;
	background-size: cover;
	height: auto;
	margin: 50px 0px 0px 0px;
	text-align: center;
}
.about-hero-header {
	padding: 10px 0px 10px 0px;
	color: #fff;
}
.about-hero-header h1 {
	font-size: 400%;
	font-weight: 200;
	text-transform:uppercase;
	margin: 5px 0px;
}
.about-hero-header h3 {
	font-size: 200%;
}
.about-hero-cta a,
.about-hero-cta a:hover,
.about-hero-cta a:focus {
	text-decoration: none;
	color: #fff;
}
.cta-btn-1 {
	margin: 180px 0px 20px 0px;
}
.about-hero img {
	display: none;
}
@media only screen and (min-width : 768px) {
.about-hero-header {
	padding: 10px 0px 10px 0px;
}
.about-hero-header h1 {
	font-size: 600%;
}
.about-hero-header h3 {
	font-size: 300%;
}
.about-hero img {
	display: inline;
	margin: 290px 0px 20px 0px;
	width: 100px;
	height: 100px;
}
.cta-btn-1 {
	display: none;
}
    }
@media only screen and (min-width : 992px) {
.about-hero-header {
	padding: 10px 0px 10px 0px;
}
.about-hero-header h1 {
	font-size: 700%;
}
.about-hero-header h3 {
	font-size: 300%;
}
.about-hero img {
	margin: 445px 0px 30px 0px;
	width: 130px;
	height: 130px;
}
    }