#landscape h2 {
	font-size: 300%;
	margin: 10px 0px;
}
.image a {
	cursor: default;
}
.walls .image {
	background-image:url(../../../../images/artwork/Boy%20on%20Ledge.jpeg);
}
.concrete .image {
	background-image:url(../../../../images/artwork/Drawing%20on%20Concrete%20Desaturated.jpeg);
}
@media only screen and (min-width : 768px) {
.walls .image {
	background-position: bottom;
	height: 500px;
}
}
@media only screen and (min-width : 992px) {
.concrete .image {
	height: 600px;
}
    }