#pools h2 {
	font-size: 300%;
	margin: 10px 0px;
}
.section-top {
	text-align: center;
	padding: 20px 0px 20px 0px;
}
.section-header {

}
.image a {
	cursor: default;
}
.content {
	
}
.liners .image {
	background-image:url(../../../../images/landing/Goggles%20Blue%20Water.jpeg);
}
.water .image {
	background-image:url(../../../../images/artwork/Water%20Splash.jpeg);
}
.safety .image {
	background-image:url(../../../../images/artwork/Dogs%20Running%20Stick%20Water.jpeg);
}
.safety {
	clear: both;
}
@media only screen and (min-width : 992px) {
.image {
	border: solid 1px #fff;
}
    }