.banner {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: solid 2px #dedede;
  border-bottom: solid 2px #dedede;
  bottom: 35px;
  color: rgba(230, 230, 230, 0.7);
  display: block;
  position: fixed;
  padding: 8px 0px;
  text-align: center;
  width: 100%;
  z-index: 50;
}
.banner a {
  color: #dedede;
  text-decoration: none;
}
.banner a:hover {
  color: #dedede;
  text-decoration: none;
}
.banner__text .banner__dismiss {
  background-color: rgba(200, 200, 200, 0.9);
  border-radius: 50%;
  border: none;
  color: #121212;
  padding: 2px 5px;
}
.banner__text .banner__dismiss:hover {
  background-color: rgba(150, 150, 150, 0.9);
  color: #525252;
}
@media (min-width: 480px) {
  .banner {
    transform: rotateZ(-45deg);
    right: -100px;
    width: 400px;
    bottom: 70px;
  }
}
