.work .image {
	background-image:url(/images/artwork/Clean%20Concrete%20and%20Pool.jpg);
}
.contact .image {
	background-image:url(/images/artwork/Bubbles%20bright%20swimming.jpeg);
}
.quote .image {
	background-image:url(/images/artwork/Bride%20and%20Groom%20by%20Pond.jpeg);
}
@media only screen and (min-width : 480px) {
.quote .image {
	background-attachment: fixed;
	height: 400px;
}
    }