.season-cta-hero {
  text-align: center;
  background-color: rgba(82, 82, 82, 0);
  margin: 0px 0px 0px 0px;
}
.season-cta-hero .btn {
  display: none;
  font-size: 12px;
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
  .season-cta-hero .btn {
    display: inline-block;
    font-size: 15px;
    margin-right: 20px;
  }
}
@media (min-width: 992px) {
  .season-cta-hero .btn {
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
}
