.instagram-posts {
	background-color: #5691CB;
	margin: 0 auto;
	width: 100%;
}

.instagram-posts__item {
	padding: 5px 5px;
}

.instagram-posts__item blockquote {
	margin: 0 auto;
}

.instagram-posts__item--second,
.instagram-posts__item--third {
	display: none;
}

@media (min-width: 480px) {
	.instagram-posts__item {
		padding: 10px 10px;
	}
}

@media (min-width: 768px) {
	.instagram-posts__item {
		padding: 10px 5px;
	}
	.instagram-posts__item--second {
		display: block;
	}
}

@media (min-width: 992px) {
	.instagram-posts__item--third {
	display: block;
}
}