#info {
	
}
.section-top {
	text-align: center;
	padding: 0px 0px 20px 0px;
}
.section-header {
	padding: 10px 0px 0px 0px;
}
.section-header h2 {
	font-size: 300%;
}
.content {
	text-align:center;
	margin: 30px 20px;	
}
.image a {
	cursor: default;
}
.business .image {
	background-image:url(../../../../images/artwork/Macbook%20Glasses%20Mouse.jpg);
}
.design .image {
	background-image:url(../../../../images/artwork/Creative%20Desk.jpeg);
}
.quality .image {
	background-image:url(../../../../images/landing/Clean%20Concrete%20and%20Pool.jpg);
}
@media only screen and (min-width : 992px) {
.image {
	border: solid 1px #fff;
}
    }