/* Hero Image */

#aboutUs .hero {
	background-image:url(../../images/landing/Leather%20Jacket%20and%20Scarf.jpeg);
	background-position: top;
	background-size: cover;
	height: auto;
	margin: 50px 0px 0px 0px;
	text-align: center;
}
#aboutUs .hero-header {
	padding: 10px 0px 10px 0px;
	color: #fff;
}
#aboutUs .hero-header h1 {
	font-size: 400%;
	font-weight: 200;
	text-transform:uppercase;
	margin: 5px 0px;
}
#aboutUs .hero-header h3 {
	font-size: 200%;
}
#aboutUs .hero-cta a,
#aboutUs .hero-cta a:hover,
#aboutUs .hero-cta a:focus {
	text-decoration: none;
	color: #fff;
}
#aboutUs .cta-btn-1 {
	margin: 180px 0px 20px 0px;
}
#aboutUs .hero img {
	display: none;
}
@media only screen and (min-width : 768px) {
#aboutUs .hero-header {
	padding: 10px 0px 10px 0px;
}
#aboutUs .hero-header h1 {
	font-size: 600%;
}
#aboutUs .hero-header h3 {
	font-size: 300%;
}
#aboutUs .hero img {
	display: inline;
	margin: 290px 0px 20px 0px;
	width: 100px;
	height: 100px;
}
#aboutUs .cta-btn-1 {
	display: none;
}
    }
@media only screen and (min-width : 992px) {
#aboutUs .hero-header {
	padding: 10px 0px 10px 0px;
}
#aboutUs .hero-header h1 {
	font-size: 700%;
}
#aboutUs .hero-header h3 {
	font-size: 300%;
}
#aboutUs .hero img {
	margin: 445px 0px 30px 0px;
	width: 130px;
	height: 130px;
}
    }
/* Content */
#info {
	
}
#aboutUs .section-top {
	text-align: center;
	padding: 0px 0px 20px 0px;
}
#aboutUs .section-header {
	padding: 10px 0px 0px 0px;
}
#aboutUs .section-header h2 {
	font-size: 300%;
}
#aboutUs .content {
	text-align:center;
	margin: 30px 20px;	
}
#aboutUs .image {
	color: #fff;
	background-size: cover;
	background-position:center;
	height: auto;
	text-align: center;
}
#aboutUs .image h3 {
	font-size: 400%;
	font-weight:900;
	text-transform:uppercase;
	padding: 150px 0px;
	margin: 0px;
}
#aboutUs .business .image {
	background-image:url(../../images/artwork/Macbook%20Glasses%20Mouse.JPG);
}
#aboutUs .design .image {
	background-image:url(../../images/artwork/Creative%20Desk.jpeg);
}
#aboutUs .quality .image {
	background-image:url(../../images/landing/Clean%20Concrete%20and%20Pool.jpg);
}
@media only screen and (min-width : 992px) {
#aboutUs .image {
	border: solid 1px #fff;
}
    }
/* Call to Action Buttons */
#aboutUs .quality a,
#aboutUs .quality a:hover,
#aboutUs .quality a:focus {
	text-decoration: none;
	color: #fff;
}
#aboutUs .quality .cta-btn {
	margin: 10px 20px;
}
#aboutUs .quality .bottom-cta {
	background-color:rgba(0,0,0,0.80);
	border-top: solid 2px #000;
	color: #FFF;
	text-align: center;
	padding: 5px 0px 5px 0px;
}
#aboutUs .quality .bottom-cta p {
	text-transform: capitalize;
}
@media only screen and (min-width : 768px) {
#aboutUs .bottom-cta {
	display: none;
}
}
@media only screen and (min-width : 992px) {
#aboutUs .quality .image h3 {
	padding: 220px 0px;
}
}