/* Heading */
#contactUs .heading {
	margin: 50px 0px 0px 0px;
	text-align: center;
}
#contactUs .image {
	color: #fff;
	background-size: cover;
	background-position:center;
	height: auto;
	text-align: center;
}
#contactUs .image h1 {
	font-size: 400%;
	font-weight:900;
	text-transform:uppercase;
	padding: 150px 0px;
	margin: 0px;
}
#contactUs .heading .image {
	background-image:url(../../images/landing/Swimmer%20with%20Goggles.jpeg);
}
#contactUs .owner,
#contactUs .phone,
#contactUs .email {
	margin: 30px;
}
#contactUs .sub-heading h2 {
	margin: 0px;
}
#contactUs .info {
	
}
#contactUs .phone .text {
	float: left;
}
#contactUs .phone .button {
	float: right;
	margin: 20px 0px 0px 0px;
	text-decoration:none;
}
#contactUs .phone .button a {
	text-decoration: none;
	color: #fff;
}
#contactUs .email {
	clear: both;
	padding-top: 30px;
}
@media only screen and (min-width : 768px) {
#contactUs .button {
	display: none;
}
#contactUs .owner,
#contactUs .phone,
#contactUs .phone .text,
#contactUs .email {
	float: none;
	text-align: center;
}
#contactUs .email {
	padding: 0px;
}
    }