/* Hero: Slider*
#index .constrain {
	width: 100vw;
	overflow:hidden;
}
#index .indexHero {
	border-bottom: solid 2px #000;
	position: absolute;
    top: 52px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -0%);
}
#index .hero-slider {
	border: none;
    overflow: hidden;
	position: relative;
}

#index .hero-slider .slides {
    display: block;
    width: 20000px;
    height: 100%;
    margin: 0;
    padding: 0;
}

#index .hero-slider .slide {
    float: left;
    list-style-type: none;
}
#index .slide-size {
	width: 767px;
	height: 400px;
}
#index .slider-size {
	width: 100vw;
}
@media (min-width: 768px) {
#index .slide-size {
	width: 992px;
	height: 500px;
}
}
@media (min-width: 992px) {
#index .slide-size {
	width: 1200px;
	height: 600px
}
}
@media (min-width: 1200px) {
#index .slide-size {
	width: 1400px;
	height: 700px;
}
}
#index .hero-slider .slide img {
	width: 100%;
}
#index .slider-overlay {
	text-align:center;
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: 100%;
}
#index .slider-text {
	background-color: rgba(255,255,255,0.60);
	font-size: 230%;
	font-weight: 100;
	letter-spacing: 2.5px;
}
/* Hero Logo Overlay*
#index .logo-overlay {
	text-align: center;
	padding: 100px 0px;
}

#index .logo-overlay  img {
	background-color: rgba(0,0,0,0.40);
	border: solid 1.5px #fff;
	border-radius: 30px;
	padding: 5px;
}
#index .visible-sm .logo-overlay {
	padding-bottom: 281px;
}
#index .visible-xs .logo-overlay {
	padding-bottom: 381px;
}*/
#index .cta-hero {
	border-bottom: solid 2px #525252;
	text-align: center;
	background-color: rgba(82,82,82, 0.9);
	margin: 0px 0px 0px 0px;
}
@media (min-width: 768px) {
	#index .cta-hero {
	text-align: center;
	background-color: rgba(82,82,82, 0.9);
	margin: 0px 0px 0px 0px;
}
}
@media (min-width: 992px) {
	#index .cta-hero {
	display: none;
	text-align: center;
	background-color: rgba(82,82,82, 0.9);
	margin: 0px 0px 0px 0px;
}
}
@media (min-width: 1200px) {
	#index .cta-hero {
	text-align: center;
	background-color: rgba(82,82,82, 0.9);
	margin: 0px 0px 0px 0px;
}
}
#index .cta-hero .btn {
	margin: 20px;
}
#index .tagline {
	clear: both;
	margin: 15px 0px;
	padding: 8px 0px;
	text-align:center;
}
#index .tagline h2 {
	color: #275480;
	font-weight:100;
	padding: 0px 0px 0px 0px;
	font-size: 200%;
	margin: 10px 0px;
}
@media (min-width: 992px) {
#index .tagline {
	clear: both;
	margin: 5px 0px;
	padding: 25px 0px;
	text-align:center;
}
#index .tagline h2 {
	color: #275480;
	font-weight:100;
	padding: 0px 0px 0px 0px;
	font-size: 350%;
}
}

/* Call to Action Section */
#index .call-to-action-section h3 a {
	text-decoration: none;
	color: #fff;
}
#index .image {
	color: #fff;
	background-size: cover;
	background-position:center;
	height: auto;
	text-align: center;
}
#index .image h3 {
	font-size: 200%;
	font-weight:600;
	text-transform:uppercase;
	padding: 150px 0px;
	margin: 0px;
}
#index .work .image {
	background-image:url(../../images/landing/Clean%20Concrete%20and%20Pool.jpg);
}
#index .contact .image {
	background-image:url(../../images/artwork/Bubbles%20bright%20swimming.jpeg);
}
#index .quote .image {
	background-image:url(../../images/your%20year%20raw/Bride%20and%20Groom%20by%20Pond.jpeg);
}
@media only screen and (min-width : 480px) {
#index .image h3 {
	font-size: 300%;
	font-weight:700;
}
}
@media only screen and (min-width : 768px) {
#index .image h3 {
	font-size: 350%;
	font-weight:800;
}
}
@media only screen and (min-width : 992px) {
#index .image {
	border: solid 1px #fff;
}
#index .image h3 {
	font-size: 400%;
	font-weight:900;
}
#index .quote .image h3 {
	padding: 280px 0px;
}
#index .quote .image {
	background-attachment: fixed;
}
    }
/* Tier Two */
#index .tier-two {
	display: none;
}
#index .tier-two-image {
	display: none;
}
#index .options {
	display: none;
}
#index .options h2 {
	display: none;
}
#index .quote-req {
	display: none;
}
#index .btn-quote {
	display: none;
}
@media (min-width: 768px) {
#index .tier-two {
	clear: both;
	margin-top: 0px;
	text-align: center;
	border-bottom: solid 2px #000;
}
#index .tier-two-image {
	display: block;
	background-image:url(../../images/artwork/Waves%20Wide.jpeg);
	background-position:top;
	background-size:cover;
	border-bottom: solid 2px #000;
	height: 300px;
}
#index .options {
	display: block;
	background-color: #FFF;
	height: auto;
}
#index .options h2 {
	display: block;
	color: #275480;
	font-weight:100;
	font-size:350%;
}
#index .options .left {
	float: left;
	width: 50%;
	padding-bottom: 10px;
}
#index .options .right {
	float: right;
	width: 50%;
	padding-bottom: 10px;
}
#index .clear {
	clear: both;
}
#index .quote-req {
	display: block;
	background-color: #FFF;
	height: auto;
}
#index .btn-quote {
	clear: both;
	display: block;
	padding: 25px 0px;
}
}
/* Tier Three */
#index .tier-three {
	display: none;
}
@media (min-width: 992px) {
#index .tier-three {
	display: block;
	padding: 0px 0px 30px 0px;
	margin: 20px 0px;
}
#index .tier-three h3 {
	text-align: center;
}
}
/* Tier Three: Slider */
#index #slider {
	background-image:url(../../images/artwork/Blonde%20Hair%20and%20Sunshine.jpg);
	background-size:cover;
	border: solid 1px #000;
	border-radius: 3px;
    height: 360px;
}
#index .slider-overlay {
	text-align:center;
	background-color: transparent;
	width: 100%;
	height: 100%;
}
#index .slider-text {
	background-color: rgba(255,255,255,0.60);
	font-size: 230%;
	font-weight: 100;
	letter-spacing: 2.5px;
}
/* Call to Action: Bottom */
#index .cta-bottom {
	display: none;
}
@media (min-width: 992px) {
#index .cta-bottom {
	display: block;
	background: #EDEDED;
	background: -webkit-linear-gradient(#fff, #EDEDED); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #EDEDED); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #EDEDED); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #EDEDED); /* Standard syntax */
	padding: 10px 0px 0px 0px;
}
#index .cta-bottom-content {
	background-color: #F9F9F9;
	border-top: solid 1px #000;
	border-right: solid 1px #000;
	border-left: solid 1px #000;
	border-radius: 20px 20px 0px 0px;
	padding: 20px 0px;
}
#index .cta-bottom-right {
	text-align: right;
	padding: 30px 0px;
}
#index .cta-bottom-right .btn {
	margin-left: 15px;
}
}